<main class="form-background">
  <section class="form-register">
    <form [formGroup]="loginForm">
      <!-- <span class="text-danger">{{loginError}}</span> -->
      <h1>Iniciar Sesión</h1>
      <!-- USUARIO -->
      <input class="controls" type="text" name="usuario" placeholder="Ingrese su usuario" formControlName="username">
      <div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert-danger">
        <div *ngIf="user.errors?.['required']">
          el usuario es requerido.
        </div>
      </div>
      <!-- CONTRASEÑA -->
      <input class="controls" type="password" name="password" placeholder="Ingrese su contraseña"
        formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-danger">
        <div *ngIf="password.errors?.['required']">
          la contraseña es requerida.
        </div>
      </div>
      <input class="botons" type="submit" value="INICIAR SESION" (click)="login()">
    </form>
  </section>
</main>
