<div class="card">
    <div class="head">
        <div class="circle"></div>
        <div class="img">
            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1049&q=80" alt="">
        </div>
    </div>

    <div class="description">
        <h3 class="descripcion__card"><a></a>nombre<a></a></h3>
        <h4>Medica Clinica</h4>
        <p>e-mail:xxxxx</p>
        <p></p>
    </div>
    <div class="contacto">
        <a href="#">Contacto</a>
    </div>
</div>
