<footer class="pie-pagina pt-4">

  <div class="grupo-1 container">

    <div class="box">
      <figure>
        <a href="#">
          <img src="/assets/plus.jpg" alt="Logo de Salus">
        </a>
      </figure>
    </div>

    <div class="box">
      <H2>INFORMACIÓN DE CONTACTO</H2>
      <P>Teléfono de contacto: 3764- 292755</P>
      <p>Dirección Legal: Av. Isla soledad 2324. Córdoba. Argentina.</p>
    </div>

    <div class="box-redes">
      <h2>SIGUENOS</h2>

      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <label><a href="">Siguenos en Facebook</a></label>
      </div>
      <div class="red-social">
        <a href="#" class="fa fa-twitter"></a>
        <label><a href="">Siguenos en Twiter</a></label>
      </div>
      <div class="red-social">
        <a href="#" class="fa fa-instagram"></a>
        <label><a href="">Siguenos en Instagram</a></label>
      </div>

    </div>
  </div>

 
  <div class="container-footer">
    <div class="footer">
        <div class="copyright">
            © 2024 Todos los Derechos Reservados | <a>SALUS</a>
        </div>

        <div class="information">
            <a href="#"> Termino y Aviso de Privacidad </a>| <a href="https://github.com/orgs/TEAM-SALUS/people">Desarrollado por TEAMSALUS+</a>
        </div>
    </div>

</div>

</footer>